/* button{width:120px;padding:10px 25px;background-color:#00ffff;border:none;color:#222;cursor:pointer;} */
button:hover{background-color:tan;color:#fff;cursor:pointer;}

.btn{width:150px;margin-bottom:0;background-color: #222;color:#fff;}